<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logomgj"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocicularmgj"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mgj"
        tools:targetApi="31" >
        <activity
            android:name=".formReport"
            android:exported="false" />
        <activity
            android:name=".DetailsReport"
            android:exported="false" />
        <activity
            android:name=".DetailsTankActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".sign_in"
            android:exported="false" />
        <activity
            android:name=".MainActivityFragment"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>